API_TOKEN=токен бота от Botfather
FROM_CHATS=массив чатов сообщения из которых надо репостить в формате username1,username2,... (можно указать только один чат)
TO_CHAT=чат в который надо репостить сообщения в формате username
